@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "Biotif";
  src: url('../assets/Biotif.ttf');
  font-weight: normal;
  font-style: normal;
}
html,body,#__next{
  color:white;
  background:#13111B;
  height: 100%;
}
*{
  padding: 0;
  margin: 0;
  src: url('../assets/Biotif.ttf');
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
  font-weight:500;
  letter-spacing: 1.2px;
  cursor: pointer;
  color:#8f9ba8;
  text-transform: uppercase;
  font-family: "Biotif";
  }
  span{
    font-family: "Biotif";
}
h1,h2,p{
  font-family: "Biotif";
  letter-spacing: 1.2px;
}
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: #08070b;
    font-family: "Biotif";
    src: url('../assets/Biotif.ttf');
  }
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-thumb {
    background-color: #24c361;
    border-radius: 10px;
    border: 10px solid #24c361;
}

::-webkit-scrollbar-track {
    background: #151417;
}
